<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Decred Voting Service - Welcome</title>
  </head>
  <body>
    <nav class="site-header px-3 pt-3">
      <div class="px-5 pb-3 pb-md-2 float-left">
        <a
          class="py-1 border-0 d-flex justify-content-start align-items-center"
          href="/"
        >
          <div class="logo--logo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="20"
              fill="none"
              viewBox="0 0 23 20"
            >
              <path fill="#000" fill-opacity="0" d="M0 0h23v19.167H0z" />
              <path
                fill="#091440"
                d="M4.792 4.792L0 0h5.175l7.667 7.667H7.667a3.834 3.834 0 1 0 0 7.666h1.917l3.833 3.834h-5.75A7.667 7.667 0 0 1 0 11.5c0-3.11 1.533-5.615 4.792-6.708z"
              />
              <path
                fill="#091440"
                d="M18.208 14.375L23 19.167h-5.175L10.158 11.5h5.175a3.834 3.834 0 0 0 0-7.667h-1.917L9.583 0h5.75A7.667 7.667 0 0 1 23 7.667c0 3.109-1.533 5.615-4.792 6.708z"
              />
            </svg>
          </div>
          <div class="logo--text">
            Decred Split Ticket pools<br />
            <b></b>
          </div>
        </a>
      </div>
      <div class="pr-5 d-flex float-right">
        <div id="sidebarCollapse" class="py-1 d-inline-block d-md-none">
          <div class="menu-trigger first">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </div>
        </div>
      </div>
    </nav>

    <nav id="sidebar" class="d-block d-md-none">
      <div id="dismiss">
        <div class="wrapper py-1">
          <div class="menu-trigger first active">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </div>
        </div>
      </div>
    </nav>

    <section class="site-content">
      <div class="container">
        <div class="row mx-3">
          <div class="col-md-6 col-12">
            <div class="row">
              <section class="block">
                <div class="col-12 block__title">
                  <h1><span>Voting Service Provider Overview</span></h1>
                </div>
                <div class="col-12 mb-4 block__content">
                  <p>
                    Voting Service Providers (VSPs) allow you to participate in
                    Decred’s proof-of-stake (PoS) system without the need to
                    keep a constantly unlocked wallet or worry about losses due
                    to downtime, flaky internet.
                  </p>

                  <p>
                    VSPs are used to delegate your voting powers. The VSP can
                    cast a vote on your behalf when a ticket is called to vote.
                    VSPs do not hold, manage, or transfer any of your DCR funds.
                    The VSP cannot steal your funds.
                  </p>
                </div>
              </section>
            </div>
            <div class="row">
              <div class="row">
                <div class="col-lg-5 col-12 px-0 pl-lg-3">
                  <picture>
                    <source
                      media="(min-width: 992px)"
                      srcset="/assets/images/1-panel-desktop.png"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="/assets/images/1-panel-tablet.png"
                    />
                    <img
                      src="/assets/images/1-panel-mobile.png"
                      class="img-fluid"
                    />
                  </picture>
                </div>
                <div class="col-lg-7 col-12 block__content">
                  <h2>What is Staking?</h2>
                  <p>
                    Staking (PoS) allows users to participate in Decred’s
                    Governance. To have your say, you can lock up your DCR funds
                    in return for tickets. Participants are given a real voice
                    in the decision-making and rewarded for engagement in the
                    projects governance.
                  </p>
                  <p>
                    Participation in Staking (PoS) is open to everyone and
                    requires time-locking a portion of your DCR in return for
                    tickets. Current price of a ticket is
                    <span>137.42&nbsp;DCR</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 col-12 px-0 pl-lg-3">
                  <picture>
                    <source
                      media="(min-width: 992px)"
                      srcset="/assets/images/2-panel-desktop.png"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="/assets/images/2-panel-tablet.png"
                    />
                    <img
                      src="/assets/images/2-panel-mobile.png"
                      class="img-fluid"
                    />
                  </picture>
                </div>
                <div class="col-lg-7 col-12 block__content">
                  <h2>What are Tickets?</h2>
                  <p>
                    The purpose of these tickets is twofold: - Firstly they
                    serve an automatic function of voting on the validity of new
                    blocks. - Secondly they grant the right to partake in the
                    decision-making processes which determines the future of
                    Decred.
                  </p>
                  <p>
                    The process of staking is essentially like a lottery, where
                    tickets are chosen to vote randomly.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 col-12 px-0 pl-lg-3">
                  <picture>
                    <source
                      media="(min-width: 992px)"
                      srcset="/assets/images/3-panel-desktop.png"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="/assets/images/3-panel-tablet.png"
                    />
                    <img
                      src="/assets/images/3-panel-mobile.png"
                      class="img-fluid"
                    />
                  </picture>
                </div>
                <div class="col-lg-7 col-12 block__content">
                  <h2>Rewards</h2>
                  <p>
                    A successful vote returns the participant the original cost
                    of the ticket and a part of the block subsidy as a reward.
                  </p>
                  <p>
                    In case the vote misses (0.5% probability), original cost of
                    the ticket is safely returned without the reward. Average
                    time for a ticket to vote is within 28 days and maximum up
                    to 142 days.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="row ml-1">
              <section class="block">
                <div class="col-12 block__title">
                  <h1><span>Information</span></h1>
                </div>
                <div class="col-12 mb-4 block__content">
                  <div class="row mb-3">
                    <div class="col-6">
                      <div
                        class="d-lg-flex align-items-start align-items-lg-center"
                      >
                        <img
                          class="mb-lg-0 mb-1"
                          src="/assets/images/group-1079.svg"
                          alt=""
                        />
                        <p class="ml-lg-3 mb-0"><strong>VSP fee:</strong> 5%</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div
                        class="d-lg-flex align-items-start align-items-lg-center"
                      >
                        <img
                          class="mb-lg-0 mb-1"
                          src="/assets/images/circular-graphic-with-quarter-portion.svg"
                          alt=""
                        />
                        <p class="ml-lg-3 mb-0">
                          <strong>Proportion:</strong> 1.40%
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6">
                      <div
                        class="d-lg-flex align-items-start align-items-lg-center"
                      >
                        <img
                          class="mb-lg-0 mb-1"
                          src="/assets/images/servers.svg"
                          alt=""
                        />
                        <p class="ml-lg-3 mb-0">
                          <strong>Network:</strong> mainnet
                        </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div
                        class="d-lg-flex align-items-start align-items-lg-center"
                      >
                        <img
                          class="mb-lg-0 mb-1"
                          src="/assets/images/status.svg"
                          alt=""
                        />
                        <p class="ml-lg-3 mb-0">
                          <strong>Status:</strong> Open
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div class="row ml-1">
              <div class="col-12 block__content">
                <h2>Ticket Splitting Beta Testing</h2>
                <p>
                  Dear Users, we are conducting beta tests on
                  <b>Ticket Splitting</b>. If you have at least 5 DCR available
                  and feel like joining our tests, go to #ticket-split channel
                  on our slack (<a
                    href="https://join.slack.com/t/decredbrasil/shared_invite/enQtNDAxNjQ0MjM3MDEyLWM2YmMyNTlkMmJmMmQ3Nzk0MDY3N2RiNjViYmYwMTEyNGI5MTQyMGJhNzc4Yzk5NjNlMTFhOGZkODMzODRkNTI"
                    >click here to receive an invite</a
                  >) or #ticket_splitting channel on decred official slack (<a
                    href="https://decred.slack.com/"
                    >https://decred.slack.com/</a
                  >).
                </p>
                <p>
                  See the <a href="/docs">docs</a> tab for Tutorials and help.
                </p>
                <p class="sessiontitle">
                  Current splitting sessions (default session: dcrbr1):
                </p>
                <ul id="stakepool-brasil">
                  loading...
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row mx-3 mx-lg-0">
          <div class="col-md-4 col-12 footer__credit-column">
            <div class="d-flex justify-content-center h-100">
              <div class="align-self-center">
                <p class="mb-0">
                  Decred developers | 2016-2019
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
